* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #E4E5E6;
    color: #e4e5e6;
    line-height: 1.6;
}

/* Header */
#main-header {
    background: linear-gradient(90deg, #00416A 0%, #E4E5E6 100%);
    padding: 15px 0;
}


.nav-list{
    list-style: none;
    width: 100%;
    padding:5px;
    font-size: 1.1em;
    padding-left: 50px;
}

.nav-link{
text-decoration: none;
color:white;
width: 100%;
}
.nav-link:hover{
    
    color: black; 
    width: 100%;       
}
nav{
    display: none;
}
.menu-hide{
    display:none;
}

.menu-show{
    display: block;
    
}


/* Section Titles */
.section-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;

}

/* About Section */
.about-section {
    background-color: #00416A;

    padding: 60px 20px;
    text-align: center;
    
}

.profile-pic {
    width: 300px;
    height: 250px;
    border-radius: 20%;
    border: 4px solid #87CEEB;

    margin-bottom: 20px;
}

.about-description {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.8;
    color: #E4E5E6;

}

/* Skills Section */
.skills-section {
    background-color: #002F4B;

    padding: 60px 20px;
}

.skills-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-item {
    text-align: center;
    margin: 20px;
}

.skill-icon {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #87CEEB;

}

.skill-icon:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(135, 206, 235, 0.5);

}

.skill-name {
    margin-top: 10px;
    font-size: 1.2em;
    color: #E4E5E6;
}

/* Projects Section */
.projects-section {
    background-color: #00416A;

    padding: 60px 20px;
}

button {
    background-color: white;

    color: #00416A;

    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #87CEEB;

    color: #00416A;

}

/* Project Grid */
.project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-card {
    background-color: #002F4B;

    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;

    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(135, 206, 235, 0.3);

}

.project-logo {
    width: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #87CEEB;

}

.project-title {
    font-size: 1.5em;
    color: #E4E5E6;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1em;
    color: white;
}

/* Contact Section */
.contact-section {
    background-color: #00416A;
    padding: 60px 20px;
    text-align: left;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-icon {
    width: 30px;
    margin-right: 10px;
}

.contact-link {
    color: white;


    font-size: 1.1em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-link:hover {
    color: #FFF;

}

/* Footer */
#main-footer {
    background: linear-gradient(90deg, #00416A 0%, #E4E5E6 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#main-footer p {
    margin: 0;
    font-size: 1em;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .menu-hide{
        display: none;
    }
    .menu-showing{
        display: none
    }
    .nav-list {
        display: grid;
        list-style: none;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        text-align: center;
    }
    
    
    
    .navbar .nav-link {
        color: black;
        background-color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
        padding: 6px;
        border: 2px solid #fff;
        border-radius: 50px;
    }
    
    .navbar .nav-link:hover {
        background-color: #87CEEB;
    
    }
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        text-align: left;
    }

    .profile-pic {
        width: 400px;
        height: 350px;
        border-radius: 50%;
        border: 4px solid #87CEEB;

        margin-bottom: 20px;
    }

    .skills-grid {
        display: flex;
        text-align: center;
    }

    .skills-grid .skill-item {
        margin-bottom: 40px;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .project-card {
        width: 100%;
        margin: 20px 0;
    }

   
}